{% if page.omnibus-site-theme == "dark" %}
<nav class="navbar navbar-expand navbar-dark">
    {% else %}
    <nav class="navbar navbar-expand navbar-light">
        {% endif %}
        <div class="container d-block">
            <div class="collapse navbar-collapse justify-content-center" id="page-nav">
                <div class="navbar-nav">
                    {%- assign navItems = site.data.config-nav | where_exp: 'item', 'item.display_name and
                    item.dropdown_parent == nil' -%}
                    {% for nav in navItems %}
                    {% if nav.stub %}
                    <div class="col nav-item p-0 d-flex omnibus-mobile-nav-item">
                        <a class="nav-link{% if page.url == nav.stub %} active{% endif %} fw-light d-flex flex-column align-items-center justify-content-center"
                            href="{{ nav.stub | relative_url }}">

                            <svg class="bi icon-sprite fs-3 d-md-none mb-1" aria-hidden="true">
                                <use xlink:href="{{ site.lib-assets | default: '/assets/lib' | relative_url }}/icons/bootstrap-icons.svg#{{nav.bootstrap_icon}}"
                                    href="{{ site.lib-assets | default: '/assets/lib' | relative_url }}/icons/bootstrap-icons.svg#{{nav.bootstrap_icon}}">
                                </use>
                            </svg>

                            <div class="d-inline d-md-none fs-6 text-center">
                                {{ nav.display_name }}
                            </div>

                            <span class="d-none d-md-inline">
                                {{ nav.display_name }}
                            </span>

                        </a>
                    </div>
                    {%- else -%}
                    <div class="col nav-item p-0 d-flex omnibus-mobile-nav-item">
                        <li class="nav-item dropdown">
                            {% assign navChildren = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent ==
                            nav.display_name' %}
                            {%- assign childStubs = navChildren | map: 'stub' -%}
                            <a class="nav-link  dropdown-toggle{% if childStubs contains page.url %} active{% endif %}"
                                data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                aria-expanded="false">{{ nav.display_name }}</a>
                            <div class="dropdown-menu">
                                {% for c in navChildren %}
                                <a class="dropdown-item {% if page.url == c.stub %}active{% endif %}"
                                    href="{{ c.stub | relative_url }}">{{ c.display_name }}</a>
                                {% endfor %}
                            </div>
                        </li>
                    </div>
                    {% endif %}
                    {%- endfor -%}

                    {% include nav-search-lunr.html %}

                </div>
            </div>
    </nav>