<footer>
    {% unless page.omnibus-site-bg-color-custom %}
    <div class="container border-top border-dark"></div>
    {% endunless %}

    {% unless page.omnibus-suppress-footer == true %}

    <div class="bg-light pt-4 mt-auto container border-bottom border-dark">

            <div class="row pb-4 mb-2 text-center">

                <div class="col-md-12 col-xl-6 mt-3 text-md-start">
                    <!-- MANTRAMS Credit -->
                    <h5 class="fw-light">About MANTRAMS</h5>
                    <p class="text-dark fw-light fs-6">“MANTRAMS - Mantras in Religion, Media, and Society in Global
                        Southern Asia” is a six-year research project conducted at the Universities of Vienna,
                        Oxford, Tübingen and EPHE Paris (runtime 2024-2030). MANTRAMS has received funding from the
                        European Research Council (ERC) under the European Union’s Synergy Grant programme <a
                            href="https://cordis.europa.eu/project/id/101118934" target="_blank">(ID 101118934)</a>. The
                        OMnibus of MANTRAMS is a core digital output of this research.</p>

                    <p class="text-dark fw-light fs-6 fst-italic">
                        We acknowledge our intellectual debt and our gratitude to the gurus, the mantra specialists, the
                        practitioners, and the meditators who have transmitted this knowledge, dynamically, across the
                        centuries, and beyond South Asia. Without them, there would be no MANTRAMS research project and
                        no OMnibus of MANTRAMS.
                    </p>

                    <p class="text-dark text-center text-xl-start">
                        <small><b>
                                <a href="https://mantrams.eu" target="_blank">www.mantrams.eu</a>
                            </b></small><br />
                    </p>

                    <p class="text-dark text-center text-xl-start"><small><b><a href="https://mantrams.eu/impressum/"
                                    target="_blank">Impressum</a></b></small><br /><small><b><a
                                    href="https://mantrams.eu/data_protection_policy/" target="_blank">Data Protection
                                    Policy</a></b></small></p>
                </div>

                <div class="col-md-6 col-xl-3 mt-3 text-md-start">
                    <!-- OMnibus Credits -->
                    <h5 class="fw-light">OMnibus Development</h5>
                    <p class="text-dark fw-light fs-6">
                        The OMnibus of MANTRAMS software is developed by the MANTRAMS Digital Humanities and Data
                        Management Officer (DHDMO) Edda Sofie Schwarzkopf in close collaboration with the MANTRAMS team
                        and the <a
                            href="https://uni-tuebingen.de/forschung/forschungsinfrastruktur/digital-humanities-center"
                            target="_blank">Digital Humanities Center</a> (DHC) at the University of Tübingen.
                    </p>
                    <p class="text-dark fw-light fs-6">
                        With questions, feedback, and concerns, kindly reach out to <a
                            href="mailto:data@mantrams.eu">data@mantrams.eu</a>.
                    </p>
                    <a id="omnibus-github-redirect" href="https://github.com/mantrams-erc/omnibus-cb-csv" role="button" class="btn btn-lg btn-primary text-light mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-github" viewBox="0 0 16 16" style="vertical-align: middle">
                            <path
                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8" />
                        </svg>
                        <b>omnibus-cb-csv</b>
                    </a>
                    <div class="position-bottom">
                        <p class="text-dark" id="footer-credits">
                            <small><em>built with</em>
                                <a href="https://collectionbuilder.github.io/" target="_blank"
                                    title="CollectionBuilder">
                                    <img src="{{ '/assets/img/logos/collectionbuilder-logo.png' | relative_url }}"
                                        class="img-fluid" alt="CollectionBuilder">
                                </a>
                            </small>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3 mt-3 text-md-start">
                    <!-- Institutional Credits -->
                    <h5 class="fw-light">Acknowledgements</h5>
                    <div class="footer-logo mb-4">
                        <a href="https://cordis.europa.eu/project/id/101118934">
                            <img src="{{ '/assets/img/logos/erc-logo.png' | relative_url }}" class="img-fluid"
                                alt="ERC Logo and Credit">
                        </a>
                    </div>
                    <p class="text-dark fs-6 fw-lighter fst-italic"><small>Funded by the European Union. Views and
                            opinions expressed are however those of the author(s) only and do not necessarily reflect
                            those of the European Union or the European Research Council Executive Agency. Neither the
                            European Union nor the granting authority can be held responsible for them.</p></small>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-12 col-sm-6 col-md-3 footer-logo omnibus-institution-footer-logo mb-4">
                        <a href="https://mantrams.univie.ac.at/">
                            <img src="{{ '/assets/img/logos/vienna-logo.png' | relative_url }}" class="img-fluid"
                                alt="Logo University of Vienna">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 footer-logo omnibus-institution-footer-logo mb-4">
                        <a href="https://uni-tuebingen.de/en/">
                            <img src="{{ '/assets/img/logos/tuebingen-logo.png' | relative_url }}" class="img-fluid"
                                alt="Logo University of Tuebingen">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 footer-logo omnibus-institution-footer-logo mb-4">
                        <a
                            href="https://www.ames.ox.ac.uk/mantrams-mantras-religion-media-and-society-global-southern-asia">
                            <img src="{{ '/assets/img/logos/oxford-logo.png' | relative_url }}" class="img-fluid"
                                alt="Logo Oxford University">
                        </a>
                    </div>
                    <div id="omnibus-ephe-logo" class="col-12 col-sm-6 col-md-3 footer-logo omnibus-institution-footer-logo mb-4">
                        <a href="https://www.ephe.psl.eu/mantrams">
                            <img src="{{ '/assets/img/logos/ephe-logo.png' | relative_url }}" class=""
                                alt="Logo École Pratique des Hautes Études Paris">
                        </a>
                    </div>
                </div>

            </div>
        </div>
        {% endunless %}

        {% if page.layout == "home-infographic" %}
        <div class="container col-sm-12 text-center pt-3 pb-1">
            <p class="text-dark fw-light fst-italic">Last updated {{ site.time | date: '%d %B, %Y' }}.</p>
        </div>
        {% endif %}

</footer>