/* import local font embedding */
@use "_fonts.scss";

/* page background styling */

.omnibus-bg {
    background-color: var(omnibus-site-main-color-custom);
}

/* gradient behind OMnibus logo */

.omnibus-gradient-header-dark {
    background-image: radial-gradient(ellipse 800px 500px at calc(50% + 200px) -100px,
            rgba(0, 0, 0, 0.7) 33%,
            rgba(0, 0, 0, 0.5) 61%,
            rgba(0, 0, 0, 0.1) 90%,
            rgba(0, 0, 0, 0) 100%);
    height: 20em;
}

.omnibus-gradient-header-light{
    background-image: radial-gradient(ellipse 800px 500px at calc(50% + 200px) -100px,
            rgba(255, 255, 255, 0.7) 33%,
            rgba(255, 255, 255, 0.5) 61%,
            rgba(255, 255, 255, 0.1) 90%,
            rgba(255, 255, 255, 0) 100%);
    height: 20em;
}

/* local implementation in default.html to access custom colours
.omnibus-gradient-header-custom {
    background-image: radial-gradient(ellipse 800px 500px at calc(50% + 200px) -100px,
            #3557CEB3 33%,
            #3557CE80 61%,
            #3557CE1A 90%,
            #3557CE00 100%);
    height: 20em;
}
*/
