---
title: Dhun
essay-subtitle: The Fires of the Name (I)
essay-authors: Kanika Pruthi, Piyush Kukrety and Borayin Larios
essay-version: v0.1
essay-date: 20 May 2026
layout: default
permalink: /interpretation/dhun-05.html

omnibus-site-theme: light # toggle: dark | light
omnibus-site-logo-gradient: true # toggle boolean
omnibus-site-main-color-custom: "#D1B9A9"
omnibus-site-bg-color-custom: "#D1B9A9"
omnibus-site-grainy-bg: true
omnibus-suppress-footer: true
---

<div class="container-fluid my-4 {% if page.omnibus-site-theme=='dark' %}text-light{% endif %}">
  <div class="container">
    <h1 class="omnibus-essay-title">{{ page.title }}</h1>
    <h2 class="fw-light omnibus-essay-subtitle">{{page.essay-subtitle}}</h2>
    <p class="fw-lighter">{{page.essay-authors}}<br />({{page.essay-version}}, {{page.essay-date}})</p>
  </div>

  <div class="container omnibus-essay-dhundhuni">

    <h3 class="fw-bold">5. Tulsīdās: Materialising the Name</h3>

    <div class="row my-4">

      <div class="col-12 omnibus-essay-dhundhuni-animation-1">
        <p class=" lh-md fw-light">In Vārāṇasī, the name of Rām is often encountered not only as sound, but as writing. </p>
      </div>
    </div>

    {% include feature/image.html objectid="dhun-g4-039;dhun-g4-040;dhun-g4-006;dhun-g4-007" width="100" caption="" %}

    <div class="row my-4">

      <div class="col-12 col-lg-6 omnibus-essay-dhundhuni-animation-1">
        <p class=" lh-md fw-light">It appears in notebooks stacked beside domestic altars, in tightly packed lines filling entire pages, on folded slips of paper tucked into temple walls and offered at shrines. They are traced repeatedly across boards, walls and printed in posters, calendars, written in chalk on the walls of the city’s narrow alleys. Sometimes the letters are precise and deliberate, however, they often also collapse into dense accumulations where repetition matters more than readability. Adding a personal devotional trace, one’s handwriting, connecting the sacred marks applied to one’s body and extending it onto the wall along with many other anonymous traces of bhakti.</p>
      </div>
      <div class="col-12 col-lg-6 omnibus-essay-dhundhuni-animation-2">

        <p class="lh-md fw-light">These practices emerge in a wider devotional landscape profoundly shaped by Tulsīdās and the Rāmcaritmānas, the Awadhi retelling of the Rāmāyaṇa composed in North India during the sixteenth century. More than a literary text, the Rāmcaritmānas lives through recitation, festival performances, memorization, song and the retelling of its many stories from one generation to the next. In Vārāṇasī and across the Hindi-speaking belt, its verses move continuously through temples, homes, loudspeakers, festivals, conversations, and bodily practices of devotion.</p>

      </div>
    </div>

    {% include feature/video.html objectid="dhun-av3" width="100" caption="" %}

    {% include feature/image.html objectid="dhun-g4-035;dhun-g4-042;dhun-g4-036;dhun-g4-048" width="100" caption="" %}

    <div class="row my-4">

      <div class="col-12 omnibus-essay-dhundhuni-animation-1">
        <p class=" lh-md fw-light">The text is encountered thus not primarily through reading, but through sensory immersion. At places such as the Mānas Mandir, the Rāmcaritmānas unfolds architecturally across walls, halls, images, recitations and movement. The text becomes a site. Pilgrims experience it in their bodies: seeing, hearing, touching, smelling. Darśan (ritually see and be seen) is never only visual. Images, names, and surfaces invite forms of tactile and sensory engagement in which seeing and touching begin to overlap. Hands trace the name of Rām across the marble walls of the temple, on notebooks, metal grids, prayer books, and bodies. The gesture itself becomes devotional repetition.</p>
      </div>
    </div>

    {% include feature/image.html objectid="dhun-g4-021;dhun-g4-032;dhun-g4-041;dhun-g4-020" width="100" caption="" %}

    <div class="row my-4">

      <div class="col-12 omnibus-essay-dhundhuni-animation-1">
        <p class=" lh-md fw-light">At Tulsi Ghāṭ, where Tulsīdās is traditionally said to have lived, composed, and worshipped his Rām, walls surrounding the site gradually disappear beneath layers of handwritten “Rām.” Names overlap names, accumulating across years of devotional inscription until individual acts of writing begin to dissolve into dense fields of repetition. Some remain clearly legible. Others fade beneath newer inscriptions or blur into near abstraction, where the visual rhythm of the name begins to exceed readability itself. </p>
      </div>

    </div>

    {% include feature/video.html objectid="dhun-av4" width="100" caption="" %}

    {% include feature/image.html objectid="dhun-g4-056;dhun-g4-034;dhun-g4-024;dhun-g4-009;dhun-g4-043" width="100" caption="" %}

    <div class="row my-4">

      <div class="col-12 omnibus-essay-dhundhuni-animation-1">
        <p class=" lh-md fw-light">The repeated writing of the divine name, often called likhit jap (written repetition of the name), transforms language into accumulation. Individuals may write “Rām” thousands or even millions of times across years of practice. Some deposit the resulting notebooks in nām banks, institutions dedicated to storing and counting handwritten repetitions of the name, where devotional labor becomes measurable accumulation. Merit, discipline, karma, and repetition intertwine materially through paper, ink, storage, and number. Others offer these notebooks at temples and shrines, while some fold or weave the written pages into paper garlands dedicated to Hanumān, the devoted servant of Rām who is said to keep the divine name constantly upon his lips.</p>
      </div>
    </div>

    {% include feature/image.html objectid="dhun-g4-038;dhun-g4-052;dhun-g4-008;dhun-g4-046" width="100" caption="" %}

    <div class="row my-4">

      <div class="col-12 col-lg-8 omnibus-essay-dhundhuni-animation-1">
        <p class=" lh-md fw-light">As repetition accumulates, the written name gradually begins to shift. Dense fields of “Rām” no longer function only as readable language, but as texture, rhythm, motif, and surface. Like “Om,” the name can be drawn, copied, traced, and recognized even beyond literacy itself. Meaning does not disappear, but it begins to operate differently. The act of writing exceeds semantic communication. Repetition itself becomes form.</p>
        <p class=" lh-md fw-light">Yet Tulsīdās’s devotional world never settles fully into either <span class="fst-italic fw-bold">saguṇ</span> (with form) or <span class="fst-italic fw-bold">nirguṇ</span> (without form). The Rāmcaritmānas gives vivid narrative and emotional form to Rām as king, deity, exile, husband, and moral exemplar, while simultaneously insisting upon the salvific potency of the name itself beyond image and embodiment. The name moves continuously between sound and inscription, narrative and abstraction, visible form and formless repetition.</p>
        <p class=" lh-md fw-light">What emerges is a devotional environment in which the divine does not remain confined to scripture alone. It accumulates gradually through recitation, inscription, touch, memory, movement, and return, materializing across surfaces, bodies, and sensory worlds.</p>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col text-md-end">
        <a href="/interpretation/dhun-04.html" class="btn btn-outline-dark btn-lg fw-light">« return along <span
            class="fw-bold">Dhun</span></a>
      </div>
      <div class="col text-end text-md-start">
        <a href="/interpretation/dhun-06.html" class="btn btn-outline-dark btn-lg fw-light">continue along <span
            class="fw-bold">Dhun</span> »</a>
      </div>
    </div>

  </div>
</div>