---
title: Dhun
essay-subtitle: The Fires of the Name (I)
essay-authors: Kanika Pruthi, Piyush Kukrety and Borayin Larios
essay-version: v0.1
essay-date: 20 May 2026
layout: default
permalink: /interpretation/dhun-06.html

omnibus-site-theme: light # toggle: dark | light
omnibus-site-logo-gradient: true # toggle boolean
omnibus-site-main-color-custom: "#D1B9A9"
omnibus-site-bg-color-custom: "#D1B9A9"
omnibus-site-grainy-bg: true
omnibus-suppress-footer: true
---

<div class="container-fluid my-4 {% if page.omnibus-site-theme=='dark' %}text-light{% endif %}">
  <div class="container">
    <h1 class="omnibus-essay-title">{{ page.title }}</h1>
    <h2 class="fw-light omnibus-essay-subtitle">{{page.essay-subtitle}}</h2>
    <p class="fw-lighter">{{page.essay-authors}}<br />({{page.essay-version}}, {{page.essay-date}})</p>
  </div>

  <div class="container omnibus-essay-dhundhuni">

    <h3 class="fw-bold">6. Kabīr: The Name without Form</h3>

    <div class="row my-4">

      <div class="col-12 omnibus-essay-dhundhuni-animation-1">
        <p class=" lh-md fw-light">At Kabīr Chaura in Vārāṇasī, one encounters another Rām.</p>
      </div>
    </div>

    {% include feature/image.html objectid="dhun-g5-030;dhun-g5-031;dhun-g5-010;dhun-g5-007" width="100" caption="" %}

    <div class="row my-4">

      <div class="col-12 col-lg-6 omnibus-essay-dhundhuni-animation-1">
        <p class=" lh-md fw-light">Not the crowned king of Ayodhyā appearing in bazaar posters and devotional calendars, but a name encountered through song, reflection, breath, and repetition. At Kabīr Chaura, verses drift through courtyards and temple compounds, carried by singers, passing conversations, harmoniums and tambourines, and moments of shared recitation. The name appears collectively in satsang (devotional gathering), but also quietly, interior and unadorned, where repetition gradually loosens language from fixed image and form. It joins the breath.</p>
        <p class=" lh-md fw-light">The Rām invoked here does not always remain tied to the narrative world of the Rāmāyaṇa. In the poetry of Kabīr and associated nirguṇ bhakti traditions, the name often points toward something more difficult to fix: a presence beyond a stable image and identity, carried to one’s own voice and  breath. The name invokes the divine without ever capturing its form.</p>
      </div>
      <div class="col-12 col-lg-6 omnibus-essay-dhundhuni-animation-2">

      {% include feature/video.html objectid="dhun-av5" width="100" caption="" %}

      </div>
    </div>

    {% include feature/image.html objectid="dhun-g5-011;dhun-g5-012;dhun-g5-013" width="100" caption="" %}

    <div class="row my-4">

      <div class="col-12 col-lg-8 omnibus-essay-dhundhuni-animation-1">
        <p class=" lh-md fw-light">Kabīr occupies an unstable and deeply generative place within South Asian devotional history. Claimed across Hindu, Muslim and Sikh traditions, the figure of the <span class="fst-italic fw-bold">sant</span> (saint) repeatedly appears at the edges of religious boundaries while refusing to settle fully within them. Stories surrounding his life are contested and claimed by different communities and regional flavors. So are the meanings attached to his songs.</p>
        <p class=" lh-md fw-light">Kabīr’s verses challenge not only theological authority, but also the social hierarchies intertwined with it. They question ritual exclusivity, caste privilege, and claims to singular truth, while moving the name of Rām beyond established centres of religious authority into other social worlds: among weavers, laborers, wandering singers, oral performers, and devotional communities formed outside elite structures of knowledge. In many contexts, Kabīr’s poetry continues to resonate through movements concerned with caste critique, social equality, and forms of devotion that resist religious and social exclusion.</p>
        <p class=" lh-md fw-light">In these settings, sound carries particular importance. The name circulates collectively through singing, performance, repetition, and shared participation. Meaning emerges through voice and encounter as much as through doctrine. Songs lengthen and contract. Verses are forgotten, improvised, translated, and taken up again in new settings. Listeners join refrains even when individual words remain partially unfamiliar. The boundaries between performer and audience start to dissolve.</p>
      </div>
      <div class="col-12 col-lg-4 omnibus-essay-dhundhuni-animation-2">

      {% include feature/image.html objectid="/assets/img/dhun-external-images/Had-Anhad by Shabnam Virmani_.jpg" width="" caption="Had Anhad: Journeys with Ram and Kabir is a 2009 documentary by Indian filmmaker Shabnam Virmani 
© Shabnam Virmani" %}

<p class=" lh-md"><a href="https://youtu.be/Dr83axn1IbM?si=w_UkYyilZFqwlIM5" class="btn btn-outline-dark btn-lg fw-light">watch on
            <span class="fw-bold">YouTube</span> »</a></p>

      </div>
    </div>

    <div class="row my-4">

      <div class="col-12 omnibus-essay-dhundhuni-animation-1">
        <p class=" lh-md fw-light">Shabnam Virmani’s Had Anhad: Journeys with Ram and Kabir traces some of these journeys across North India, following how Kabīr’s songs continue to circulate through villages, festivals, recordings, archives, and everyday devotional life. In the performances of singers such as Prahlad Tipaniya, the name of Rām becomes at once intimate and expansive, carrying meanings that move beyond singular religious ownership. References to Rām may coexist alongside invocations of Allah, Khudā, the guru, or the formless divine.</p>
        <p class=" lh-md fw-light">Virmani created and directed a series of films as part of the Kabir Project, including Had Anhad: Journeys with Ram and Kabir, Kabira Khada Bazaar Mein: Journeys with Sacred and Secular Kabir, Koi Sunta Hai: Journeys with Kumar and Kabir, and Chalo Hamara Des: Journeys with Kabir and Friends. Together, these films document the breadth and vitality of Kabīr’s poetic and devotional traditions across diverse oral, musical, and performative communities in India. </p>
        <p class=" lh-md fw-light">The visual world surrounding these traditions also remains fluid. Kabīr appears as a poet, saint, mystic, social critic, guru, and folk singer. Ravidas, Guru Nanak, and other sant figures circulate through posters, calendars, murals, shrines, processions, WhatsApp images, and devotional recordings. Saints themselves are continually being remade through performance, memory, publication, pilgrimage, and media circulation.</p>
      </div>
    </div>

    {% include feature/image.html objectid="dhun-g5-017;dhun-g5-032;dhun-g5-039;dhun-g5-037" width="100" caption="" %}

    <div class="row my-4">

      <div class="col-12 col-lg-8 omnibus-essay-dhundhuni-animation-1">
        <p class=" lh-md fw-light">Here, the name of Rām does not disappear into formlessness entirely. Rather, it remains suspended between sound and image, presence and absence, devotion and critique. Repetition does not stabilize the name into a single meaning. It keeps it moving.</p>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col text-md-end">
        <a href="/interpretation/dhun-05.html" class="btn btn-outline-dark btn-lg fw-light">« return along <span
            class="fw-bold">Dhun</span></a>
      </div>
      <div class="col text-end text-md-start">
        <a href="/interpretation/dhun-07.html" class="btn btn-outline-dark btn-lg fw-light">continue along <span
            class="fw-bold">Dhun</span> »</a>
      </div>
    </div>

  </div>
</div>