---
title: Dhun
essay-subtitle: The Fires of the Name (I)
essay-authors: Kanika Pruthi, Piyush Kukrety and Borayin Larios
essay-version: v0.1
essay-date: 20 May 2026
layout: default
permalink: /interpretation/dhun-08.html

omnibus-site-theme: light # toggle: dark | light
omnibus-site-logo-gradient: true # toggle boolean
omnibus-site-main-color-custom: "#D1B9A9"
omnibus-site-bg-color-custom: "#D1B9A9"
omnibus-site-grainy-bg: true
omnibus-suppress-footer: true
---

<div class="container-fluid my-4 {% if page.omnibus-site-theme=='dark' %}text-light{% endif %}">
  <div class="container">
    <h1 class="omnibus-essay-title">{{ page.title }}</h1>
    <h2 class="fw-light omnibus-essay-subtitle">{{page.essay-subtitle}}</h2>
    <p class="fw-lighter">{{page.essay-authors}}<br />({{page.essay-version}}, {{page.essay-date}})</p>
  </div>

  <div class="container omnibus-essay-dhundhuni">

    <h3 class="fw-bold">8. Transition / Passage</h3>

    <div class="row my-4">

      <div class="col-12 col-lg-6 omnibus-essay-dhundhuni-animation-1">
        <p class=" lh-md fw-light">At Maṇikarṇikā Ghāṭ, the name of Rām accompanies the passage between life and death.</p>
        <p class=" lh-md fw-light">Funeral processions move slowly through the narrow lanes toward the river. Corpses wrapped in colorful clothes and flower garlands are carried on bamboo stretchers on the shoulders while voices repeat in rhythm with each step: “Rām nām satya hai” — “the name of Rām is Truth.” The chant moves collectively through the city, announcing both death and transition as the living make way for the dead through crowded streets already saturated by the name in other forms. </p>
        <p class=" lh-md fw-light">At the cremation grounds, repetition takes on another atmosphere. Fires burn continuously. Smoke settles into cloth, ash, wood, skin and breath. Nearby shrines dedicated to Śiva receive offerings while priests, workers, pilgrims, and grieving families move through overlapping rhythms of ritual labor, mourning, waiting, and departure.</p>
      </div>
      <div class="col-12 col-lg-6 omnibus-essay-dhundhuni-animation-2">

        {% include feature/image.html objectid="dhun-g7-010" width="50" caption="" %}

      </div>
    </div>

    {% include feature/video.html objectid="dhun-av7" width="100" caption="" %}

    {% include feature/image.html objectid="dhun-g7-003;dhun-g7-005;dhun-g7-007" width="100" caption="" %}

    <div class="row my-4">

      <div class="col-12 col-lg-6 omnibus-essay-dhundhuni-animation-1">
        <p class=" lh-md fw-light">Within broader imaginaries of the sacred city, the space itself is understood as a site of transition where liberation from rebirth, and thus eternal suffering becomes possible. One widely circulating belief holds that Śiva whispers the <span class="fst-italic fw-bold">tāraka mantra</span> (the mantra of crossing) into the ears of the dying at Maṇikarṇikā, allowing the soul to pass beyond saṃsāra (the cycle of birth and death). Here, the divine name appears not only as devotion or repetition, but as the ultimate passage itself.</p>
      </div>
      <div class="col-12 col-lg-6 omnibus-essay-dhundhuni-animation-2">

        <p class="lh-md fw-light">The name also accompanies the dead materially. Cloth printed repeatedly with “Rām” wraps bodies before cremation. Funerary textiles, ash, flowers, smoke, and river water become part of the final movement through the city. The same name encountered earlier on walls, loudspeakers, posters, notebooks, and shrines returns here under entirely different conditions: quieter, slower, closer to disappearance.</p>
        <p class=" lh-md fw-light">Yet even at the edge of death, repetition continues. The chant recedes into the distance as another procession enters the lane behind it. </p>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col text-md-end">
        <a href="/interpretation/dhun-07.html" class="btn btn-outline-dark btn-lg fw-light">« return following <span
            class="fw-bold">Dhun</span></a>
      </div>
      <div class="col text-end text-md-start">
        <a href="/interpretation/dhun-09.html" class="btn btn-outline-dark btn-lg fw-light">continue along <span
            class="fw-bold">Dhun</span> »</a>
      </div>
    </div>

  </div>
</div>