---
title: Dhun
essay-subtitle: The Fires of the Name (I)
essay-authors: Kanika Pruthi, Piyush Kukrety and Borayin Larios
essay-version: v0.1
essay-date: 20 May 2026
layout: default
permalink: /interpretation/dhun-01.html

omnibus-site-theme: light # toggle: dark | light
omnibus-site-logo-gradient: true # toggle boolean
omnibus-site-main-color-custom: "#D1B9A9"
omnibus-site-bg-color-custom: "#D1B9A9"
omnibus-site-grainy-bg: true
omnibus-suppress-footer: true
---

<div class="container-fluid my-4 {% if page.omnibus-site-theme=='dark' %}text-light{% endif %}">
  <div class="container">
    <h1 class="omnibus-essay-title">{{ page.title }}</h1>
    <h2 class="fw-light omnibus-essay-subtitle">{{page.essay-subtitle}}</h2>
    <p class="fw-lighter">{{page.essay-authors}}<br />({{page.essay-version}}, {{page.essay-date}})</p>
  </div>

  <div class="container omnibus-essay-dhundhuni">

    <h3 class="fw-bold">1. Encountering the Name</h3>

    <div class="row row-cols-md-2">
      <div class="col">
        {% include feature/image.html objectid="dhun-g1-106" width="100" caption="" %}</div>
      <!--<div class="col">
        {% include feature/image.html objectid="dhun-g1-108" width="100" caption="" %}</div>-->
    </div>
    <p class="fst-italic fw-light lh-md fs-6">Note!! Some image appear more grainy than they actually are due to
      automatic image processing in the database. Click on the image for higher resolution.</p>

    <div class="row my-4">

      <div class="col-12 col-lg-6 omnibus-essay-dhundhuni-animation-1">

        <p class=" lh-md fw-light">In Vārāṇasī, the <span class="fst-italic fw-bold">name of Rām</span> is difficult to escape. It appears even before one actively begins to search for it: painted onto walls darkened by smoke and time, stamped onto the backs of rickshaws and trucks, hanging from rearview mirrors, printed onto cheap laminated posters curling at the corners, repeated across stickers pressed onto doors, counters, scooters, tea stalls, and shop fronts. The name surfaces on plastic keychains beside packets of incense, handwritten into notebooks, traced repeatedly with fingers across metal grids cut into its shape, exchanged casually in a greeting of “Rām Rām,” amplified through loudspeakers that dissolve into static before returning again from somewhere deeper within the narrow alleys.</p>
      </div>
      <div class="col-12 col-lg-6 omnibus-essay-dhundhuni-animation-2">

        <p class="lh-md fw-light">Moving through the city during fieldwork in 2025 and 2026, the research team rarely walked more than a few steps without being met by the name again. Sometimes carefully inscribed, sometimes hastily stamped, sometimes repeated so densely that language begins to collapse into pattern. Before it is heard as chant, Rām is already seen, touched, handled, worn, and carried. The name slips constantly between devotion and commerce, intimacy and spectacle, routine and performance. It gathers differently in each place, taking on new textures as it moves.</p>

      </div>
    </div>

    {% include feature/image.html objectid="dhun-g1-054;dhun-g1-091;dhun-g1-105;dhun-g1-100;dhun-g1-116;dhun-g1-015" width="100" caption="" %}

    <div class="row my-4">

      <div class="col-12 col-lg-6 omnibus-essay-dhundhuni-animation-1">

        <p class=" lh-md fw-light">This essay begins from that condition of saturation rather than from origin, doctrine, or singular meaning. It follows <span class="fst-italic fw-bold">Rām nām</span> through passing encounters and everyday repetitions: through streets and markets, domestic shrines and temple spaces, songs, gestures, objects, inscriptions, media environments, and moments of interruption. The focus is not only on theology or textual tradition, but on <span class="fw-bold">lived religion, materiality, and popular culture</span>: on the ways names acquire force through repetition, circulation, and everyday use.</p>

        <p class=" lh-md fw-light">Developed alongside the exhibition <span class="fst-italic fw-bold">Dhun / Dhūnī: The Fires of the Name</span>, and emanating from ongoing research within <span class="fw-bold">Task Force 3 of the MANTRAMS project</span>, the essay continues an intentionally open and processual approach to research. Rather than presenting fieldwork as a finished conclusion, both the exhibition and the multimedia essays foreground some of the movements through which research itself takes shape: collecting fragments, retracing routes, listening repeatedly to recordings, following images and sounds across surfaces and media, noticing recurrences that initially seemed incidental.</p>
      </div>
      <div class="col-12 col-lg-6 omnibus-essay-dhundhuni-animation-2">

        <p class="lh-md fw-light">The multimedia format therefore becomes part of the method itself. Images, sounds, and fieldwork materials are not included simply to illustrate preexisting arguments, but to participate in the production of meaning. The aim is not to stabilize Rām nām into a single interpretation, but to trace the environments through which the name circulates and becomes lived across devotional, political, domestic, commercial, digital, and funerary worlds.</p>
        <p class=" lh-md fw-light">What follows is not a single narrative of the name, but a movement through the spaces in which it gathers presence and force. <span class="fw-bold">Rām’s name</span> becomes the thread moving across these worlds, linking spaces that do not always neatly align, yet remain connected through repetition, circulation, and return.</p>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col text-md-end">
        <a href="/interpretation/dhun-dhuni.html" class="btn btn-outline-light btn-lg fw-light">« return</a>
      </div>
      <div class="col text-end text-md-start">
        <a href="/interpretation/dhun-02.html" class="btn btn-outline-light btn-lg fw-light">continue along <span
            class="fw-bold">Dhun</span> »</a>
      </div>
    </div>

  </div>
</div>