---
title: Dhun
essay-subtitle: The Fires of the Name (I)
essay-authors: Kanika Pruthi, Piyush Kukrety and Borayin Larios
essay-version: v0.1
essay-date: 20 May 2026
layout: default
permalink: /interpretation/dhun-07.html

omnibus-site-theme: light # toggle: dark | light
omnibus-site-logo-gradient: true # toggle boolean
omnibus-site-main-color-custom: "#D1B9A9"
omnibus-site-bg-color-custom: "#D1B9A9"
omnibus-site-grainy-bg: true
omnibus-suppress-footer: true
---

<div class="container-fluid my-4 {% if page.omnibus-site-theme=='dark' %}text-light{% endif %}">
  <div class="container">
    <h1 class="omnibus-essay-title">{{ page.title }}</h1>
    <h2 class="fw-light omnibus-essay-subtitle">{{page.essay-subtitle}}</h2>
    <p class="fw-lighter">{{page.essay-authors}}<br />({{page.essay-version}}, {{page.essay-date}})</p>
  </div>

  <div class="container omnibus-essay-dhundhuni">

    <h3 class="fw-bold">1. Encountering the Name</h3>

    <div class="row my-4">

      <div class="col-12 col-lg-6 omnibus-essay-dhundhuni-animation-1">
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
      </div>
      <div class="col-12 col-lg-6 omnibus-essay-dhundhuni-animation-2">

        <p class="lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>

      </div>
    </div>

    {% include feature/image.html objectid="demo_001" width="100" caption="an image" %}

    <div class="row my-4">

      <div class="col-12 col-lg-6 omnibus-essay-dhundhuni-animation-1">
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
      </div>
      <div class="col-12 col-lg-6 omnibus-essay-dhundhuni-animation-2">

        <p class="lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>

      </div>
    </div>

    {% include feature/image.html objectid="demo_001" width="100" caption="an image" %}

    <div class="row my-4">

      <div class="col-12 col-lg-6 omnibus-essay-dhundhuni-animation-1">
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
      </div>
      <div class="col-12 col-lg-6 omnibus-essay-dhundhuni-animation-2">

        <p class="lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>

      </div>
    </div>

    {% include feature/image.html objectid="demo_001" width="100" caption="an image" %}

    <div class="row my-4">

      <div class="col-12 col-lg-6 omnibus-essay-dhundhuni-animation-1">
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
      </div>
      <div class="col-12 col-lg-6 omnibus-essay-dhundhuni-animation-2">

        <p class="lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>

      </div>
    </div>

    {% include feature/image.html objectid="demo_001" width="100" caption="an image" %}

    <div class="row my-4">

      <div class="col-12 col-lg-6 omnibus-essay-dhundhuni-animation-1">
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
      </div>
      <div class="col-12 col-lg-6 omnibus-essay-dhundhuni-animation-2">

        <p class="lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>
        <p class=" lh-md fw-light"></p>

      </div>
    </div>

    {% include feature/image.html objectid="demo_001" width="100" caption="an image" %}

    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col text-md-end">
        <a href="/interpretation/dhun-01.html" class="btn btn-outline-light btn-lg fw-light">« continue following <span
            class="fw-bold">Dhun</span></a>
      </div>
      <div class="col text-end text-md-start">
        <a href="/interpretation/dhuni-01.html" class="btn btn-outline-light btn-lg fw-light">continue following <span
            class="fw-bold">Dhūnī</span> »</a>
      </div>
    </div>

  </div>
</div>