---
# collection "Browse" page
layout: page
custom-foot: js/browse-js.html
---
{%- assign fields = site.data.config-browse -%}

<div class="row mb-2">
    <h1 class="fw-bold">Browse Collections</h1>
    <div class="row mb-2">
        <p class="fs-6 fst-italic fw-light">The OMnibus offers different ways to investigate the material. Researchers
            and collaborators contribute <b>individual files</b> as standalone data or group them into
            <b>subcollections</b>. Here, you can browse all material and subcollections by filtering metadata fields to
            apply to your search and sorting results according to your requirements. Note that new data will be continuously added throughout the MANTRAMS runtime until 2030. <a
                href="/about.html#how-to-use-the-omnibus">Click here to learn more about how to use the OMnibus.</a>
        </p>
    </div>
    <div class="row mb-3 justify-content-center">
        <div class="col-12 col-lg-8 text-center text-lg-end">
            <form role="search" id="browseFilter" onsubmit="submitFilter(); return false;">
                <div class="input-group input-group-lg">
                    {% if site.data.theme.faceted-search == true %}
                    <select class="form-control form-select fw-light" id="fieldSelect" style="max-width: 200px;"
                        aria-label="select search field to filter">
                        <option value="all">All Fields</option>
                        <option value="title">Title</option>
                        {% for f in fields %}
                        {% assign cap-field = f.field | capitalize %}
                        <option value="{{ f.field }}">{{ f.facet_name | default: f.display_name | default: cap-field }}
                        </option>
                        {% endfor %}
                        <option value="display_template">Data Type</option>
                    </select>
                    {% endif %}
                    <input type="text" class="form-control fw-light" id="filterTextBox" placeholder="Search Field ... "
                        aria-label="Search">
                    <!-- Update the date range inputs section -->
                    <div id="dateRangeInputs" class="date-range-inputs">
                        <div class="date-input-group">
                            <input type="text" id="startDate" class="ms-2 form-control fw-light"
                                placeholder="Start Date">
                            <span class="date-separator">to</span>
                            <input type="text" id="endDate" class="me-2 form-control fw-light" placeholder="End Date">
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" title="Filter items"
                        id="filterButton"><span class="d-inline d-md-none"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
</svg></span><span class="d-none d-md-inline fw-bold">Search</span></button>
                    <button class="btn btn-outline-secondary filter"
                        onclick="resetFilter(); return false;" data-filter=""><span class="d-inline d-md-none"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
</svg></span><span class="d-none d-md-inline fw-light">Reset</span></button>
                </div>
            </form>
        </div>
        <div class="col-12 col-lg-3 text-center text-lg-start mt-4 mt-lg-0">
            {% if site.data.theme.advanced-search == true %}{% include advanced-search-modal.html %}{% endif %}
        </div>
    </div>

    <!-- Active filter indicators -->
    <div class="container" id="activeFilters" class="mt-2"></div>
    <div class="d-flex justify-content-between">
        <div class="fs-5 fw-lighter align-self-center" id="numberOf"></div>
        <div class="dropdown">
            <button class="btn btn-outline-transparent fw-lighter dropdown-toggle" type="button" id="browseSortButton"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort by <span id="sortFilter">Random</span>
            </button>
            <div class="dropdown-menu browse-sort-menu" aria-labelledby="browseSortButton">
                <button
                    class="dropdown-item browse-sort-item {% if site.data.theme.default-sort-field == '' %}active{% endif %}"
                    data-filter="random">Random</button>
                <button class="dropdown-item browse-sort-item" data-filter="title">Title</button>
                {% assign sort_options = site.data.config-browse | where_exp: 'i','i.sort_name != nil' %}
                {% for o in sort_options %}
                <button class="dropdown-item browse-sort-item" data-filter="{{ o.field | escape }}">{{ o.sort_name
                    }}</button>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div id="loadingIcon" class="text-center">
    <div class="spinner-border text-dark" role="status"><span class="visually-hidden">Loading...</span></div>
</div>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" id="browseItems"></div>