---
# Default home page with boxes providing collection stats
layout: default
---

<div class="container my-4">

  <div class="row py-3">

    <div class="col-md-6">
      <div class="card h-100 border--0">
        <div class="card-body mt-2">
          <h3 class="card-title fw-bold d-none d-md-block">Introduction</h3>
          <p class="card-text fw-light fs-6">The OMnibus of MANTRAMS is a digital archive of mantras past and present.
            Researchers and collaborators collect and record contemporary and historical mantra practices across
            Southern Asia and its global sphere of influence.</p>
          <p class="card-text fw-light fs-6"><b>On this website, you will learn about the diverse sounds, rituals and
              meanings of mantra.</b> You can analyze the material across time and space, browse it by collections, or
            explore the multimedia essays. Kindly note that while we strive towards representing a large variety of communities and practices, the OMnibus can never exhaustively archive all past and living mantra traditions.</p>
        </div>
        <div class="card-footer bg-transparent border-0 mb-3">
          <a href="/about.html" class="btn btn-primary">Learn More »</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-none d-md-block">
      <div class="card h-100 border-0">
        <div class="card-body mt-2">
          <h3 class="card-title fw-bold">About the MANTRAMS Project</h3>
          <p class="card-text fw-light fs-6">"MANTRAMS - Mantras in Religion, Media, and Society in Global Southern
            Asia" is a six-year research project jointly hosted by the Universities of Vienna, Oxford, Tübingen and EPHE
            Paris (2024-2030).</p>
          <p class="card-text fw-light fs-6">Combining historical-philological methods, material culture studies and
            sonic ethnography with unprecedented interdisciplinary collaboration, MANTRAMS aims at producing a global
            history and anthropology of mantras past and present. <b>The OMnibus of MANTRAMS is a core digital research
              output of the project, carefully curated from the MANTRAMS data corpus, mapped and openly accessible.</b>
          </p>
        </div>
        <div class="card-footer bg-transparent border-0 mb-3">
          <a href="https://mantrams.eu" class="btn btn-primary">Learn More »</a>
        </div>
      </div>
    </div>
  </div>

  <div class ="my-2 mx-3">
  <p class="fs-6 fw-bold text-light">English<span class="omnibus-translation-disabled"> | Bahasa Indonesia | Bangla | Hindi | Malayalam | Marathi</span></p>
  <p class="fs-6 fw-light text-light fst-italic">We will offer selective translations on the OMnibus as soon as possible.<br>Please reach out with urgent translation requests and we will do our best to accommodate them.</p>
  <!--<p class="fs-6 fw-light text-light fst-italic">We can only offer selective translations on the OMnibus. Please reach out if you need more.</p>-->
  </div>

</div>

<div class="bg-info">
<div class="container my-4 py-5">

  <div class="col-md-12">
    <h1 class="fw-bold mx-3">Featured Pieces</h1>
    <p class="fs-6 fw-light fst-italic mx-3">Discover narrative pathways to explore OMnibus data along curated
      themes and interpretations. <a href="/explore.html">Learn more »</a></p>
    <!-- INSERT FEATURED ESSAYS -->

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-2">
      <div class="col">
        <div class="card h-100 border-0">
          <img class="m-3" src="/assets/img/thumbnails/Borayin Dhun Material.jpg" alt="...">
          <div class="card-body">
            <h5 class="card-title fw-bold fs-3">Dhun</h5>
            <p class="card-text fw-light fs-5">The Fires of the Name (I)</p>
            <p class="card-text fw-light fs-6">by Kanika Pruthi, Piyush Kukrety and Borayin Larios</p>
          </div>
          <div class="card-footer bg-transparent border-0 mb-3">
            <a href="/interpretation/dhun-dhuni.html" class="btn btn-outline-primary">Read »</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 border-0">
          <img class="m-3" src="/assets/img/thumbnails/MANTRAMS_TF3_GOET_RC6_ RAMANANDI-L11009783.jpg" alt="...">
          <div class="card-body">
            <h5 class="card-title fw-bold fs-3">Dhūnī</h5>
            <p class="card-text fw-light fs-5">The Fires of the Name (II)</p>
            <p class="card-text fw-light fs-6">by Prema Goet and Daniela Bevilacqua</p>
          </div>
          <div class="card-footer bg-transparent border-0 mb-3">
            <a href="/interpretation/dhun-dhuni.html" class="btn btn-outline-primary">Read »</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 border-0">
          <img class="m-3" src="/assets/img/thumbnails/Kalari Soundscapes3_cropped.jpg" alt="...">
          <div class="card-body">
            <h5 class="card-title fw-bold fs-3">Sounding the Goddess</h5>
            <p class="card-text fw-light fs-5">Associated Rituals of <i>kaḷarippayaṟṟ˘</i></p>
            <p class="card-text fw-light fs-6">by Lucy May Constantini</small>
          </div>
          <div class="card-footer bg-transparent border-0 mb-3">
            <a class="btn btn-outline-primary disabled">Upcoming</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
<div class="container my-4">
  <div class="col-md-12 pt-3 pb-3 text-center">

    {% include index/data-download.html %}

  </div>
</div>

</div>