{% comment %}

    Adds a box to highlight rights information if child item has a "rights" or "rightsstatement" field.

{%- endcomment -%}
<div class="card mb-2">
    <div class="card-header fw-bold border-0">Rights</div>
    <div class="card-body fw-light">
        <dl>
            {% if child.rights %}<dt>Rights:</dt>
            <dd class="small">{{ child.rights }}</dd>{% endif %}
            {% if child.rightsstatement %}<dt>Standardized Rights:</dt>
            <dd class="small"><a href="{{ child.rightsstatement }}">{{ child.rightsstatement }}</a>
            </dd>{% endif %}
        </dl>
    </div>
</div>